body{
  margin: 0;
  position: absolute;
 font-family: 'Roboto', sans-serif;
}
* {
  box-sizing: border-box;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: .5rem;
}
[class^="col"]{
  padding: 0 .5rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.col {
  flex: 1 1 0;
}
.col-1 {
  flex: 0 0 8.333333%;
}
.col-2 {
  flex: 0 0 16.666666%;
}
.col-3 {
  flex: 0 0 25%;
}
.col-4 {
  flex: 0 0 33.333333%;
}
.col-5 {
  flex: 0 0 41.666666%;
}
.col-6 {
  flex: 0 0 50%;
}
.col-7 {
  flex: 0 0 58.333333%;
}
.col-8 {
  flex: 0 0 66.666667%;
}
.col-9 {
  flex: 0 0 75%;
}
.col-10 {
  flex: 0 0 83.333333%;
}
.col-11 {
  flex: 0 0 91.666667%;
}
.col-12 {
  flex: 0 0 100%;
}
header {
  background-color: white;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}
@media (max-width: 950px) {
  body {
    max-width: 900px;
    overflow: scroll;
  }
}
.navbar{
  font-weight: 550;
  padding: 20px;
  display: flex;
  align-items: center;
}
.navbar ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.navbar ul li  {
  display: inline-flex;
  font-size: 13px;
  line-height: 15px;

  padding: 10px 15px;
 text-decoration: none;
 display: inline-block;
}
.navbar  li a{
  text-decoration: none;
  text-decoration-style: none;
  color: black;
}
.navbar  img {
  justify-content: center;
  text-align: center;
}
.uppercase{
  text-transform: uppercase;
}
.navbar-between {
  justify-content: space-between;
}

.example-0 img{
  max-width: 100%;
}
.example-0 {
  padding: 0 150px;
  font-size: 13px;
  line-height: 21px;
  color: #A0A0A0;
  padding-bottom: 30px;
}
.example-1 {
  text-align: center;
  color: white;

  height: 550px;
  padding: 200px;
  background-image: url(./img/Rectangle.svg);
  background-position:left;
  background-repeat: no-repeat;
  background-size: cover;
}
.example-1 h1{
  size: 43px;
  line-height: 46px ;
  font-weight: 400;
}
.p{
  font-size: 15px;
  line-height: 18px;
  padding-bottom: -20px;
}
.p2{
  line-height: 15px;
  font-size: 13px;
}
.align-cen{
  text-align: center;
}
.fontsize{
  font-size: 33px;
}
.example-2{
  padding: 50px 0;
}
.example-2 h6{
  color: #A0A0A0;
  font-size: 14px;
  line-height: 24px;
}
.weight-norm {
  font-weight: normal;
}
.example-2 h5{
  font-size: 13px;
}
.d-flex{
  display: flex;
}
article h6 {
  color: #A0A0A0;
  font-size: 14px;
  line-height: 18px;
}
main h6 {
  color: #A0A0A0;
  font-size: 14px;
  line-height: 18px;
} 
.margin-auto {
  margin: 0 auto;
}
.justify-evenly {
  justify-content: space-evenly;
}
.example-3{
  background-image: url(./img/background.png);
  background-position:left;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 150px;
  color: white;
}
.example-3 h1{
  font-size: 66px;
}
.example-4 {
  padding-top: 55px;
}
.example-4 p{
  color: #A0A0A0;
  font-size: 16px;
  line-height: 24px;
}
.example-5 {
  padding: 25px 0 60px 0;
}
.example-6 {
  padding: 5px;
}
.example-6 img {
  padding-top: 10px;
}
.ex-7 {
  padding: 90px;
}
.ex-8{
  background-image: url(./img/pochtifooterimage.svg);
  background-repeat: no-repeat;
  background-position:left;
  background-size: cover;
   
  margin: 0 30px;
  padding: 100px ;
  color: white;
  margin-bottom: 50px;
}
footer{ 
  padding-top: 40px;
  background-color: #F9F9F9;
}
footer  ul {
  padding-top: 40px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
footer ul li  {
  padding-top: 40px;
  display: flex;

  text-decoration: none;
  padding: 9px 9px;
}
footer li a{
  font-weight: 500;
  text-decoration: none;
  text-decoration-style: none;
  color: black;
  margin-left: 20px;

  line-height: 20px;
  font-size: 22px;
}
footer .btn{
  background-color: black;
  border-color: black;

  color: white;
  padding: 20px 20px;

  float:right;
  display:block;
  margin-top: -40px;
}
footer h5{
  color: #A0A0A0;
}
footer .card{    
  margin-left: -365px;
  max-width: 310px;
  margin-top: -15px;
}
footer .card h3{
  font-weight: normal;
  font-size: 22px;
  line-height: 24px;
} 
.line{
  border-bottom: 1px solid black; 
  width: 23%;
  margin: 65px;
}

.navbar2{
  padding: 20px;
  justify-content: flex-end;
  padding-left: 699px;
}
.navbar2 ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.navbar2 ul li  {
  font-size: 13px;
  line-height: 15px;

  padding: 10px 15px;
 text-decoration: none;
 display: inline-block;
}
.navbar2  li a{
  font-size: 13px;
  line-height: 15px;
  text-decoration: none;
  text-decoration-style: none;
  color: #707A7F;
}
.navbar2 span li a {
  color: black;
}
.grey{
  color: #A0A0A0;
}
@media screen and (min-width: 600px)  {
  body{
    flex-direction: column;
  }
  
}