body{
  margin: 0;
  
 font-family: 'Roboto', sans-serif;
}
* {
  box-sizing: border-box;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: .5rem;
}
[class^="col"]{
  padding: 0 .5rem;
}
.row {
  display: flex;
  gap: .5rem;
  flex-wrap: wrap;
}
.col {
  flex: 1 1 0;
}
.col-1 {
  flex: 0 0 8.333333%;
}
.col-2 {
  flex: 0 0 16.666666%;
}
.col-3 {
  flex: 0 0 25%;
}
.col-4 {
  flex: 0 0 33.333333%;
}
.col-5 {
  flex: 0 0 41.666666%;
}
.col-6 {
  flex: 0 0 50%;
}
.col-7 {
  flex: 0 0 58.333333%;
}
.col-8 {
  flex: 0 0 66.666667%;
}
.col-9 {
  flex: 0 0 75%;
}
.col-10 {
  flex: 0 0 83.333333%;
}
.col-11 {
  flex: 0 0 91.666667%;
}
.col-12 {
  flex: 0 0 100%;
}
.navbar{
  display: flex;
  padding: 20px;
  align-items: center;
}
.navbar ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.navbar ul li  {
  display: inline-flex;
  font-size: 13px;
  line-height: 15px;

  padding: 10px 15px;
 text-decoration: none;
 display: inline-block;
}
.navbar  li a{
  text-decoration: none;
  text-decoration-style: none;
  color: black;
}
.navbar  img {
  justify-content: center;
  text-align: center;

}
.uppercase{
  text-transform: uppercase;
}
.navbar-between {
  justify-content: space-between;
}

.example-1 {
  text-align: center;
  color: white;

  padding: 100px;
  background-image: url(./Rectangle.svg);
  background-position:left;
  background-repeat: no-repeat;
  background-size: cover;
}
.example-1 h1{
  size: 43px;
  line-height: 46px ;
  font-weight: 400;
}
.p{
  font-size: 15px;
  line-height: 18px;
  padding-bottom: -20px;
}
.p2{
  line-height: 15px;
  font-size: 13px;
}

.example-2{
  text-align: center;
  padding: 50px 0;

}
.example-2 h6{
  color: #A0A0A0;
  font-size: 14px;
  line-height: 24px;
}
.weight-norm {
  font-weight: normal;
}
.example-2 h5{
  font-size: 13px;
}